<!DOCTYPE html>
<html>
    <head>
        <title>Le Bleu</title>
        <link type="text/css" rel="stylesheet" href="/css/game.css">
    </head>
    <body>
        <div class="game-container">
            <canvas class="game-canvas" width="320" height="320"></canvas>
        </div>

        <!-- Script -->
        <script src="/game/src/Overworld.js"></script>
        <script src="/game/src/GameObject.js"></script>
        <script src="/game/src/Sprite.js"></script>
        <script src="/game/src/OverworldMap.js"></script>
        <script src="/game/src/main.js"></script>
    </body>
</html>